*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    font-family: "Roboto";
}

.conteudo-nav{
    background-color: #1f2937;
}

.button-up{
    padding: 8px 10px ;
    border-radius: 9px;
    background-color: #3882f6;
    width: 90px;
    margin:10px 0;
    border: none;
    cursor: pointer;
}

.button-up:hover{
    background-color: #4b89ec;
}

.textcontainer{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: 500px;
}

.header{
    display: flex;
    border: 1px solid rgb(100, 4, 4);
    height: 350px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.textcontainer h1{
    font-size: 48px;
}

.textcontainer p{
    font-size: 18px;
}


.nav {
    display: flex;
    border:1px solid black;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
li:hover{
    color: rgb(3, 3, 3);
}